<footer id="footer">

    <a href="https://www.google.com"><i class="social-icon fa-brands fa-facebook"></i></a>
    <a href="https://www.twitter.com"><i class="social-icon fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com"><i class="social-icon fa-brands fa-instagram"></i></a>
    <a href="https://www.gmail.com"><i class="social-icon fa-solid fa-envelope"></i></a>
    <p>© Copyright A2Z Solution</p>

</footer>

</body>
</html>