<footer id="footer">

    <a href="https://www.facebook.com/profile.php?id=100093569534012"><i class="social-icon fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com/a2zsolution_dgi"><i class="social-icon fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/a2zsolution_diet/"><i class="social-icon fa-brands fa-instagram"></i></a>
    <p>© Copyright A2Z Solution</p>

</footer>

</body>
</html>