<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>

    <div class="row yearBox">
        <div class="col-lg-6 col-md-6">
            <h1 class="firstYear x"><a href="/1stSem" target="_blank">1<sup>st </sup>SEM</a></h1>
        </div>
        <div class="col-lg-6 col-md-6">
            <h1 class="firstYear x"><a href="/2ndSem" target="_blank">2<sup>nd </sup>SEM</a></h1>
        </div>
    </div>
    
    <div class="guidance">
        <h1>General Guidance for 1<sup>st</sup>Year</h1>
        <ul>
            <li>Try to learn a Object Oriented Programming language like C++, Java, Python as soon as possible in the first semester.</li>
            (Don't learn too much deep, first learn the basics like how to input, output, loops, conditional statements etc. And then Object Oriented Concept.)
            <br><br>
            <li>Do not fall in "Tutorial Hell" trap, try to code alongside while watching the tutorial videos.</li>
            <br>
            <li>No matter what seniors says, do not ignore CGPA. It will give you an upper edge compare to the other students.</li>
            (Neither ignore nor study only for the CGPA.)
            <br><br>
            This should be enough for your 1<sup>st</sup> Semester.
            <br><br>
            <li>Coming to 2<sup>nd</sup> Semester, start doing Data Structures and Algorithm in the programming language that you have done in the 1<sup>st</sup> Semester.</li>
            (There is no need to learn DSA from paid resources, there are plenty of free resources available on YouTube.)
            <br><br>
            <li>Also don't forget to enjoy your college life.</li>
        </ul>
      </div>


      <!-- ****************** Footer ********************* -->


      <%- include("partials/footer") %>
