<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>

    <div class="row yearBox">
        <div class="col-lg-4 col-md-6">
            <h1 class="firstYear x"><a href="https://drive.google.com/file/d/1cFsjdvJsOz5yWWpRwpioSdqMULXRC5id/view?usp=share_link" target="_blank">Syllabus</a></h1>
        </div>
        <div class="col-lg-4 col-md-6">
            <h1 class="firstYear x"><a href="https://drive.google.com/drive/folders/1I9GQNLtv_-_-ErLlNZqkPDRV8xwfNrP9?usp=sharing" target="_blank">Previous Year Paper</a></h1>
        </div>
        <div class="col-lg-4">
            <h1 class="firstYear x"><a href="https://drive.google.com/drive/folders/1oqnK3ScEsmF2TvSF0ixtYq7M5D7m9F38?usp=sharing" target="_blank">Notes</a></h1></div>
        </div>
    </div>

    <div class="guidance">
       <h1>General Guidance for 2<sup>nd</sup> Year</h1>
       <br>
        <ul>
            <li>
                Try to explore every field like Competitive Programming, Development, Open Source Contribution, Hackathons, etc.
            </li>
            (Go deep into the field which excites you.)
            <br><br>
            <li>In 2<sup>nd</sup> year, you'll get many core CSE subjects which will be asked in interviews. So prepare them well during the semester itself.</li>
            <br><br>
            <li>Try to join with communities of like minded students on different platforms like Discord, Telegram, Twitter.</li>
            <br><br>
            <li>Try to maintain a good profile on LinkedIn. Connect with companies employees, HRs, etc. This will help you in off-campus opportunities. </li>
            <br><br>
            <li>There are some opportunities by Product Based Companies which come especially for 2<sup>nd</sup> year, be aware of them.
            </li>
        </ul>
    </div>

     <!-- ****************** Footer ********************* -->


     <%- include("partials/footer") %>