<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>

    <div class="row yearBox">
        <div class="col-lg-6 col-md-6">
            <h1 class="firstYear x"><a href="/7thSem" target="_blank">7<sup>th </sup>SEM</a></h1>
        </div>
        <div class="col-lg-6 col-md-6">
            <h1 class="firstYear x"><a href="/8thSem" target="_blank">8<sup>th </sup>SEM</a></h1>
        </div>
    </div>
    
    <div class="guidance">
        <h1>General Guidance for 4<sup>th</sup>Year</h1>
        <br>
        <ul>
            <li>It's placement time!</li>
            <br><br>
            <li>Try to focus more on Interview specific DSA problems from various sites like leetcode, geeksforgeeks, etc.</li>
            <br><br>
            <li>If you just started, don't worry.</li>
            (Do 100-200 standard intervies problems, make 2 decent projects and then start applying for the companies.)
            <br><br>
            <li>Also prepare core subjects (CN,OS,DBMS,OOPs) and aptitude for interviews.</li>
            <br><br>
            <li>Enough of placements, It's your last year so don't forget to create memories and enjoy your farewell.</li>
        </ul>
      </div>



      <!-- ****************** Footer ********************* -->


      <%- include("partials/footer") %>
