<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>

    <div class="row yearBox">
        <div class="col-lg-4 col-md-6">
            <h1 class="firstYear x"><a href="https://drive.google.com/drive/folders/1Ak8TnZhD3mlbVvCY0psuYEuO9JIlK8D0" target="_blank">Syllabus</a></h1>
        </div>
        <div class="col-lg-4 col-md-6">
            <h1 class="firstYear x"><a href="1stYear.html" target="_blank">Previous Year Paper</a></h1>
        </div>
        <div class="col-lg-4">
            <h1 class="firstYear x"><a href="1stYear.html" target="_blank">Notes</a></h1></div>
        </div>
    </div>

    <div class="guidance">
        <h1>General Guidance for 3<sup>rd</sup> Year</h1>
    </div>

     <!-- ****************** Footer ********************* -->


     <%- include("partials/footer") %>