<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>


    <div class="roadmapInner">
        <p>
            I'll tell you the roadmap for bare minimum development that Product Based Companies expect from you during
        interviews. 
        <br>
        First of all you have to choose domain for development like Web Development, App Developmet or Machine 
        Learing. After you chose the domain, you have to learn the development in that domain. You can learn either
        from paid online courses or from free online courses, in most of the courses they'll teach you while 
        making projects so do make those projects they'll help you to understand the concepts more clearly. 
        <br> 
        After completing the course, try to make new projects from your own, in this way your concepts will 
        get more clear and you will have new projects that you made from scratch to highlight in your Resume. 
        <br>
        This much development is enough for Product Based Companies interviews. Now, you just have to include
        2 to 3 projects in your Resume and prepare answers related to these projects for interviews. 
        <br>
        Also, by this much learning you can make Minor or Major Projects for your college curriculum also. 
        <br>
        For any specific query, you can ping me @<a href="https://www.linkedin.com/in/mohd-aasim-qureshi-1309961b2/">LinkedIn</a>
        </p>
    </div>


    <!-- ****************** Footer ********************* -->


    <%- include("partials/footer") %>