<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>


    <div class="roadmapInner">
        <p>
            Graduate Aptitude Test in Engineering (GATE) is a national level examination which is used to take admissions in TOP IITs/NITs for higher education or in PSUs (Public Sector Undertakings).
            <br>
            In this article, I'm mainly focusing on CSE branch on how to crack GATE CSE.
            <br>
            <ul>
                <li>
                    My first advise would be to start your preparation with Discrete Mathematics, because it somehow relates to every CSE subjects.
                </li>
                <li>
                    If you are in college then you can prepare the subject which is currently in your semester, that way it will help you in college exams also.
                </li>
                <li>
                    There are some subjects which required some prerequisite, do them in following order:
                    <ul>
                        <li>Digital logic before Computer Architecture and Computer Networks.</li>
                        <li>Theory of Computation before Compiler Design.</li>
                    </ul> 
                </li>
                <li>
                    After completing every subject, try to solve its previous year questions and analyze them properly.
                </li>
                <li>
                    Try to take atleast one Test Series to track your progress.
                </li>
                <li>
                    One thing to remember is, it's a very long journey so start with the subjects which you are confident in and gradually move to difficult subjects.
                </li>
                <li>
                    There will be time when you feel like giving up, just remember the reason why you started and don't quit.
                    <br>
                    "When the going gets tough, the tough get going."
                </li>
            </ul>
            In case of any queries, you can reach out to me @ <a href="https://www.linkedin.com/in/anshulsenpai/">Anshul Purohit</a>.
        </p>
    </div>

    <!-- ****************** Footer ********************* -->


    <%- include("partials/footer") %>
