<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>

<div class="quote">
    <h2>Quote of the day</h2>
    <br>
    <%= quote %>--
    <br>
    <i><%= author %></i>
</div>


    <!-- ************** Year Data *************** -->

    <div class="row yearBox">
        <div class="col-lg-12" style="background-color:rgb(164, 216, 210);">
            <h1 class="firstYear"><a href="/1stYear" target="_blank">1<SUP>st</SUP> Year</a></h1>
        </div>
        <div class="col-lg-12" style="background-color:rgb(164, 216, 210);">
            <h1 class="secondYear"><a href="/2ndYear" target="_blank">2<SUP>nd</SUP> Year</a></h1>
        </div>
        <div class="col-lg-12" style="background-color:rgb(164, 216, 210);">
            <h1 class="thirdYear"><a href="/3rdYear" target="_blank">3<SUP>rd</SUP> Year</a></h1>
        </div>
        <div class="col-lg-12" style="background-color:rgb(164, 216, 210);">
            <h1 class="fourthYear"><a href="/4thYear" target="_blank">4<SUP>th</SUP> Year</a></h1>
        </div>
    </div>

    <!-- *************** Roadmap **************** -->

    <div class="row blog">
        <div class="col-lg-3 col-sm-6 col-12 roadmap">
            <img src="images/maang.webp" alt="">
            
            <a href="/PBC" target="_blank">Roadmap for Product based Company(MAANG)</a> 
        </div>
        <div class="col-lg-3 col-sm-6 col-12 roadmap">
            <img class="gateImg" src="images/gate.webp" alt="">
            <a href="/gate" target="_blank">Roadmap for GATE</a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 roadmap">
            <img src="images/cp.png" alt="">
            <a href="/cp" target="_blank">Roadmap for Competitive Programming</a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 roadmap">
            <!-- <img src="images/dev.jpeg" alt=""> -->
            <img src="images/dev2.png" alt="">
            <a href="/dev" target="_blank">Roadmap for Development</a>
        </div>
    </div>

    <!-- ********************* Guidance ******************** -->

    <div id="aboutUs" class="guidance">
      <h1>About Us</h1>
      <ul>
        <li>Sometimes it becomes very difficult to find the resources for college Examination, be it Previous Year Question Papers or Subject Notes. 
            <br>
            So, we are presenting these on our website in an  organised and structured way.
        </li>
        <br>
        <li>
            We are also providing some useful information that will guide the student's to ace their college journey in form of Blogs or Articles.
        </li>
        <br>
        <li>
            Our website will be resposive, means our website's User Interface will responsive to different screen sizes of devices like Laptop, Mobile, Tablet etc.
        </li>
        <br>
        <li>
            You can also contribute Previous Year Papers, Syllabus, Notes or any other stuff related to the website, by clicking on the contribute button.
        </li>
        <br>
        <li>        
            To make its User Interface clean and easy to use we are dividing our project into multiple sections based on the year in which a student is.
        </li>
      </ul>
    </div>


    <!-- ****************** Footer ********************* -->


    <%- include("partials/footer") %>
