<%- include("partials/header") %>

<% if(authenticated === false){ %>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
    </li>
<% }  %>
</ul>
</div>
</nav>


    <div class="roadmapInner">
        <p>
            MAANG or any Product Based Companies interviews are divided into three major categories:
            <br>
            <ol>
                <li><strong>Online Assessment</strong></li>
                    This round is mainly focused on the Problem-Solving ability of a student. To ace this round, you need to have a very good understanding of DSA and sometimes they can also ask about aptitude. You can prepare DSA from various online sources and some knowledge of CP (Competitive Programming) will give you an upper hand from other applicants.
                    You can check our CP roadmap <a href="/cp">here</a>.
                <li><strong>Personal interview</strong></li>
                    It's a one-on-one interview round where the interviewer might ask you about the projects that you have made and give you to solve some standard DSA problems. They might also grill you on the CS fundamentals subjects like CN,OS,DBMS etc.
                <li><strong>HR Round</strong></li>
                In the HR round, they will check the personality of a candidate. Also, they might ask you some typical questions like, why do you want to join our company? where do you see yourself in the next 5 years? etc. In this round, they can also ask for puzzles, which are used to check your common sense.
                <br><br>
                For ON-Campus hiring you can ask your queries to <a href="https://www.linkedin.com/in/anshulsenpai/">Anshul Purohit</a>.
                <br>
                For OFF-Campus hiring you can ask your queries to <a href="https://www.linkedin.com/in/mohd-aasim-qureshi-1309961b2/">Mohd. Aasim Qureshi</a>.

            </ol>
        </p>
    </div>


    <!-- ****************** Footer ********************* -->


    <%- include("partials/footer") %>
