<%- include("partials/header") %>
</ul>
</div>
</nav>
    <form action="/successfull-signin" method="post">
        <h1>Great!</h1>
        <p>You have successfully signed in</p>
        <button type="submit">Go to Home Page</button>
    </form>
    <%- include("partials/footer") %>