a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    font-size: larger;
}

body{
    margin: 0;
    background-color: rgb(164, 216, 210);
    /* background: #6a11cb; */
    /* color: white; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
    }


img{
    display: block; 
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 50px; */
    /* width: 50%; */
}

ol{
    text-align: center;
    list-style-position: inside;
}

ul {
    text-align: center;
    list-style-position: inside;
}

/* ************************************** */

.blog{
    position: relative;
    margin-top: 50px;
    margin-right: 0;
}

.container{
    /* margin: auto;
    text-align: center;
    width: 50%;
    border: 3px solid green;
    padding: 50px; */

    padding: 70px 0;
  border: 3px solid green;
  text-align: center
}

.ff{
    margin: auto;
    /* text-align: center; */
    width: 50%;
    /* border: 3px solid green; */
    padding: 50px;
    margin-right: 25
    0px;;
}

#footer{
    padding: 5% 10%;
    text-align: center;
}

.fourthYear{
    margin: auto;
    text-align: center;
    border:1px solid;
    width: 50%;
    margin-bottom: 50px;
}

.firstYear{
    margin: auto;
    text-align: center;
    border:1px solid;
    width: 50%;
    margin-bottom: 50px;
}

.guidance{
    /* margin: auto;
    width: 100%; */
    padding-top: 100px;;
    text-align: center;
    height: 800px;
   
}

.quote{
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
}

.roadmap{
    height: 350px;
    text-align: center;
}

.roadmapInner{
    width: 60%;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 100px;
}

.secondYear{
    margin: auto;
    text-align: center;
    border:1px solid;
    width: 50%;
    margin-bottom: 50px;
}

.social-icon{
    margin: 20px 10px;
}

.semBox{
    position: relative;
    margin-top: 100px;
    margin-right: 0;
}

.thirdYear{
    margin: auto;
    text-align: center;
    border:1px solid;
    width: 50%;
    margin-bottom: 50px;
}

.yearBox{
    position: relative;
    margin-top: 150px;
    margin-right: 0;
}

/* ************************************* */

#t{
    margin-top: 300px;
    text-align: center;
}

.testimonial-image{
    height: 10%;
    width: 10%;
    border-radius: 100%;
}

.x{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

